// Body
$body-bg: #ffffff;
$body-color: #85969D;

$main-bg: $body-bg;
$bmd-nav-tabs-pills-link-padding: 0.5rem 1rem;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3788D8;
$cyan: #156084;
$green: #08BD99;
$purple: #C9A0DC;
$yellow: #FBEC5D;
$lime: #D3F86A;

$indigo: #6574cd;
$pink: #f66d9b;
$red: #e3342f;
$orange: #EB6F2D;
$teal: #4dc0b5;


$primary: $cyan;
$secondary: $blue;

$dark: #4F6069;
$grey: #85969D;

$border-radius: 0;
